#body {
    background: url(../../images/cric-bg.webp) no-repeat;
    background-position: center 0;
    background-size: cover;
    height: 100vh;
    overflow: scroll;
    overscroll-behavior: none;
}

#toss {
    position: absolute;
    height: 0;
    width: 100%;
    text-align: center;
    font-size: 75px;
    font-weight: 900;
    margin-bottom: 50vh;
    margin-top: 5vh;
    color: rgb(247,54,247);
}

#choice {
    height: 75vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 5vh;
}
a#head:hover,#tails:hover{
    background-color: rgb(247,54,247);
    color: rgb(108,0,138);
   
}

#head,#tails {
    font-size: 9vh;
    margin: 10px;
    background-color: rgb(108,0,138);
    color: rgb(247,54,247);
    border-radius: 5px;

}

#result {
    position: absolute;
    top: 62%;
    width: 100%;
    text-align: center;
}

#lose,#choose {
    color: rgb(138, 4, 176);
    background-color: rgb(247,54,247);
    font-size: 6vh;
    margin: 2px;
}

#bat,#bowl {
    margin-top: 10vh;
    text-decoration: none;
    font-size: 50px;
    color: rgb(108,0,138);
    border-radius: 5px;
    font-weight: bold;

}
a#bat:hover,#bowl:hover {
    background-color:rgb(247,54,247);
    
    color: rgb(138, 4, 176);
}